@{
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
    ViewBag.BuyerName = ViewBag.BuyerName ?? "Buyer";
}

<section class="card">
    <div class="card-header">
        <h2>Settings</h2>
        <span class="card-tag">Account &amp; notification settings</span>
    </div>
    <p style="padding:1rem 0;">
        This page will hold notification, password and other account settings.
    </p>
</section>
